.loading-state {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}
.image {
    padding: 10px;
    border-radius: 20px;
    background-color: #6c757d55;
    margin: 20px;
}
.image-container {
    border-radius: 1rem;
    overflow: hidden;
    width: auto
}

.image-container img {
    width: 100%;
    object-fit: cover;
}

.admin-actions {
    flex-shrink: 0; /* Prevents buttons from wrapping on smaller screens */
}

.key-details {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
}

.detail-item {
    margin: 10px;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.buy{
    position: sticky;
    top: 2rem; 
    margin-top: 300px;
    margin-left: 50px;
    width: 300px;
}

.detail-item i {
    font-size: 2rem;
    color: #0d6efd;
}

.detail-item span {
    display: block;
    color: #6c757d;
}

.description-section p {
    line-height: 1.8;
    color: #495057;
}

.event-header{
    margin: 30px;
}

.description-section{
    margin: 30px;
}