body {
    background-color: #9ba1a7;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container.mt-4 {
    flex: 1;
}

.title {
    color: #0d6efd;
    text-align: center;
    padding: 20px;
    font-weight: bold;
}