.footer {
  background: #efecec;
  color: #c1b4b4cc;
  text-align: center;
  padding: 1rem 0;
  position: relative;
  bottom: 0;
  width: 100%;

}
.footer-section{
  background-color: rgb(149, 154, 161);
}
/* .icon {
  color: #151414;
  transition: color 0.3s ease;
} */